/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
    body {
   
    }
    /* Default link styling */
    a:link { color:#0271fb; }
    a:visited { color:#bd02fb; }
    a:hover, a:focus { color:#000; }
    a:active { color:#fb0e02; }
    
    
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
    body {
		background: #00cbff;
		color: white;
		font-family: "Abel", sans-serif;
		font-size: 32px;
		text-align: center;
    }
    
    h1 {
	    font-family: "Pacifico", cursive;
	    font-weight: normal;
	    font-size: 3em;
	    margin-bottom: 1rem;
    }
    
    .wrap {
	    width: 100%;	
	    height: auto;
	    margin: 0 auto;
	    position: relative;
    }
    
    .users-container {
	    width: auto;
	    display: inline-block;
	    font-size: 0.6em;
	    margin: 1em auto;
    }
    
    .users {
	    list-style: none;
	    text-align: center;
	    padding: 1em;
	    background: #9be0ff;
	    border: 1px solid #00acd0;
	    border-radius: 2px;
	    color: gray;
	    margin: 0;
    }
    
    #responses > div {
		display: none;
		margin-top: 2em;
    }
    
    .reset {
	    font-size: 0.6em;
	    display: inline-block;
	    margin: 1em auto;
	    cursor: pointer;
    }
    
    .user-area {
	    height: 0;
	    transition: height 0.35s ease;
	    overflow: hidden;
    }
    
    .user-area.logged-in {
	    height: auto;
    }
    
	.user-area img {
	    width: auto;
	    height: auto;
	    display: block;
	    margin: 0 auto 1em auto;
    }

    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}